<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton" rel="stylesheet">

    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <div class="containerFoodResults">

        <h2>Search Results</h2>

        <ul class="foodResults">

            <!-- Actual Project -->
            <% for(let i = 0; i < jsonBody.hits.length; i++) { %>
                <div class="foodResult-<%= i %>">
                    <li><span class="lime">Name:</span> <%= jsonBody.hits[i].fields.item_name %></li>
                    <li><span class="lime">Calories:</span> <%= jsonBody.hits[i].fields.nf_calories %> Cal</li>
                    <li><span class="lime">Protein:</span> <%= jsonBody.hits[i].fields.nf_protein %> g</li>
                    <li><span class="lime">Carbohydrates:</span> <%= jsonBody.hits[i].fields.nf_total_carbohydrate %> g</li>
                    <li><span class="lime">Fat:</span> <%= jsonBody.hits[i].fields.nf_total_fat %> g</li>
                    
                </div>
                
                <input class="apiFoodChoiceRadio" type="radio" name="foodResultChoice">

                <br><br>
            
            <% } %>

        </ul>

        <button id="saveSearchedFood">Submit</button>

        <br><br>

        <a href="/">Search For Another Food</a>

    </div>

    <!-- Modal for option 1: editing food modal -->
    <div id="foodModal-0" class="modal">
        <div class="modalContent">
            <span class="closeBtn">&times;</span>    
            <form action="/saveFood" method="POST">
                <label>Edit Food b4 Saving: </label>
                <br><br>
                <label for="newFoodName">Name: </label>
                <input id="newFoodName" type="text" name="foodName" placeholder="Name" value="<%= jsonBody.hits[0].fields.item_name %>">
                <br><br>
                <label for="newFoodCalories">Calories: </label>
                <input id="newFoodCalories" type="text" name="calories" placeholder="Calories" value="<%= jsonBody.hits[0].fields.nf_calories %>">
                <br><br>
                <label for="newFoodProteins">Proteins: </label>
                <input id="newFoodProteins" type="text" name="proteins" placeholder="Proteins" value="<%= jsonBody.hits[0].fields.nf_protein %>">
                <br><br>
                <label for="newFoodCarbohydrates">Carbohydrates: </label>
                <input id="newFoodCarbohydrates" type="text" name="carbohydrates" placeholder="Carbohydrates" value="<%= jsonBody.hits[0].fields.nf_total_carbohydrate %>">
                <br><br>
                <label for="newFoodFats">Fats: </label>
                <input id="newFoodFats" type="text" name="fats" placeholder="Fats" value="<%= jsonBody.hits[0].fields.nf_total_fat %>">
                <br><br>
                
                <input class="submit" type="submit" value="Save Custom Food">
                <br><br><br><br>
            </form>
        </div>
    </div>
    <!-- Modal for option 2: editing food modal -->
    <div id="foodModal-1" class="modal">
            <div class="modalContent">
                <span class="closeBtn">&times;</span>    
                <form action="/saveFood" method="POST">
                    <label>Edit Food b4 Saving: </label>
                    <br><br>
                    <label for="newFoodName">Name: </label>
                    <input id="newFoodName" type="text" name="foodName" placeholder="Name" value="<%= jsonBody.hits[1].fields.item_name %>">
                    <br><br>
                    <label for="newFoodCalories">Calories: </label>
                    <input id="newFoodCalories" type="text" name="calories" placeholder="Calories" value="<%= jsonBody.hits[1].fields.nf_calories %>">
                    <br><br>
                    <label for="newFoodProteins">Proteins: </label>
                    <input id="newFoodProteins" type="text" name="proteins" placeholder="Proteins" value="<%= jsonBody.hits[1].fields.nf_protein %>">
                    <br><br>
                    <label for="newFoodCarbohydrates">Carbohydrates: </label>
                    <input id="newFoodCarbohydrates" type="text" name="carbohydrates" placeholder="Carbohydrates" value="<%= jsonBody.hits[1].fields.nf_total_carbohydrate %>">
                    <br><br>
                    <label for="newFoodFats">Fats: </label>
                    <input id="newFoodFats" type="text" name="fats" placeholder="Fats" value="<%= jsonBody.hits[1].fields.nf_total_fat %>">
                    <br><br>
                    
                    <input class="submit" type="submit" value="Save Custom Food">
                    <br><br><br><br>
                </form>
            </div>
        </div>
        <!-- Modal for option 3: editing food modal -->
    <div id="foodModal-2" class="modal">
            <div class="modalContent">
                <span class="closeBtn">&times;</span>    
                <form action="/saveFood" method="POST">
                    <label>Edit Food b4 Saving: </label>
                    <br><br>
                    <label for="newFoodName">Name: </label>
                    <input id="newFoodName" type="text" name="foodName" placeholder="Name" value="<%= jsonBody.hits[2].fields.item_name %>">
                    <br><br>
                    <label for="newFoodCalories">Calories: </label>
                    <input id="newFoodCalories" type="text" name="calories" placeholder="Calories" value="<%= jsonBody.hits[2].fields.nf_calories %>">
                    <br><br>
                    <label for="newFoodProteins">Proteins: </label>
                    <input id="newFoodProteins" type="text" name="proteins" placeholder="Proteins" value="<%= jsonBody.hits[2].fields.nf_protein %>">
                    <br><br>
                    <label for="newFoodCarbohydrates">Carbohydrates: </label>
                    <input id="newFoodCarbohydrates" type="text" name="carbohydrates" placeholder="Carbohydrates" value="<%= jsonBody.hits[2].fields.nf_total_carbohydrate %>">
                    <br><br>
                    <label for="newFoodFats">Fats: </label>
                    <input id="newFoodFats" type="text" name="fats" placeholder="Fats" value="<%= jsonBody.hits[2].fields.nf_total_fat %>">
                    <br><br>
                    
                    <input class="submit" type="submit" value="Save Custom Food">
                    <br><br><br><br>
                </form>
            </div>
        </div>
        
    

    <script src="../scripts/foodResults.js"></script>

</body>
</html>