<% include ./partials/header.ejs %>

    <div class="singleFoodContainer">
        <div class="singleFood">
            <ul>
                <li><label>Name: </label><span id="foodName"><%= food.foodName; %> </span></li> 
                <li><label>Calories: </label><span id="calories"><%= food.calories; %> </span></li>
                <li><label>Proteins: </label><span id="proteins"><%= food.proteins; %> </span></li>
                <li><label>Carbohydrates: </label><span id="carbohydrates"><%= food.carbohydrates; %> </span></li>
                <li><label>Fats: </label><span id="fats"><%= food.fats; %> g</span></li>
            </ul>
            
        
            <a href="/eat" id="eatFoodBtn">Eat Food</a>
        
            <a href="/eat" id="goBackBtn">Go Back</a>
        </div>
    </div>
    
    <script src="../scripts/searchMyFoods.js"></script>
</body>
</html>